*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.container1{
    text-align: center;
    padding-top: 100px;
}
.cirr{
    color: #555555;
}
.container1 h1{
    font-size: 200px;
    color: #121212;
}
.container1 p{
    max-width: 340px;
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 50px;
    margin:auto;
    color: #555555;
}
.container2{
    text-align: center;
    padding-bottom: 150px;
}
.cirr{
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid #555555;
}.cirr:hover{
    background-color: #C9F31D;
    border-color: #C9F31D;
    cursor: pointer;
}
.cirr p{
    padding-top: 55px;
}