*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 60px;
    padding-bottom: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.middle ul{
    padding-top: 20px;
    list-style: none;
    display:  flex;
    gap: 60px;
}
.middle ul li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

}
.middle ul li:hover{
    cursor: pointer;
}
.footer{
    padding-top: 100px;
    padding-bottom: 40px;
}
.good h1{
    text-align: center;
    font-size: 70px;
    color: red;
}

.start img{
    width: 150px;
}
.last{
    display: flex;
    gap: 20px;
}
.start, .last{
    margin-bottom: 100px;
}
/* footer */
.footer{
    background-color: #121212;
}
.firstOne p{
    width: 310px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #999999;
    margin-bottom: 30px;
}
.firstOne ul{
    display: flex;
    list-style: none;
    gap:15px;
}
.firstOne ul li{
    color: #999999;
    font-size: 20px;
    
}
.secondOne h1, .thirdOne h1{
    width: 239px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: white;
    padding-bottom: 20px;
}
.left-footer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}
 
.secondOne ul li, .thirdOne ul li{
    color: #999999;
    font-size: 20px;
    list-style: none; 
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
.want{
    width: 417px;
    height: 600px;
    background-color: #1D1D1D;
}
.footer1{
    display: flex;
}   
.ws{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
    color: white;
    padding-bottom: 25px;
    text-align: center;
    width: 278px;
    margin: auto;
    padding-top: 100px;
}
.time{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color: white;
    padding-bottom: 3px;
    text-align: center;
}
.want p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #999999;
    text-align: center;
}
.footer{
    width: 1000px;
}
.inputs{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.inputs p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    max-width: 233px;
}
.inputs h1{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
}
.connect p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #999999;
    padding-top: 60px;
    width: 120px;
    margin: auto;
}
.connect{
    cursor: pointer;
    height: 170px;
    width: 170px;
    border: 1px solid #999999;
    margin: 20px auto;
    border-radius: 100%;
}
.connect:hover{
    
    background-color: #C9F31D;
    border-color: #C9F31D;
}
.inputs input{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #999999;
    background-color: #1D1D1D;
    width: 100%;
    border: none;
    border-radius: 0;
    outline: none;
    width: 350px;
    height: 60px;
    padding-left: 10px;
}
.inputs2 button{
    margin-left: 20px;
    width: 100px;
    height: 58px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 16px;
    padding-right: 20px;
}
.main-footer{
    display: flex;
}
.img-s{
    position: relative;
    right: 680px;
    z-index: -1;
}
.footer1{
    margin-top: 260px;
}


.black{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}
.iksak{
    cursor: pointer;
    float: right;
    font-size: 50px;
    background-color: #232323;
    color: white;
    margin: 10px;
    padding: 0px 23px;
    border-radius: 50%;
}


.mainM{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding-top: 100px;
    overflow: hidden;
}
.mainM ul li{
    list-style: none;
    margin-bottom: 20px;
    font-size: 30px;
}

@media only screen and (min-width: 360px ) and (max-width: 599px) {

    .middle{
        display: none;
    }
    .main-footer img{
        display: none;
    }
    .inputs{
        width: 417px;
        flex-wrap: wrap;
    }
    .footer, .want{
        width: 413px;
    }
    .footer1, .left-footer{
        flex-wrap: wrap;
    }
    .firstOne, .secondOne, .thirdOne{
        margin-top: 50px;
    }
    .inputs, input{
        padding-left: 50px;
        width: 300px;
    }
    .inputs button{
        position: relative;
        left: 100px;
        top: 10px;
    }
    
} 

@media only screen and (min-width: 600px ) and (max-width: 1280px) {
    .middle{
        display: none;
    }
    .main-footer img{
        display: none;
    }
    .inputs{
        width: 417px;
        flex-wrap: wrap;
    }
    .footer, .want{
        width: 769px;
    }
    .footer1, .left-footer{
        
        flex-wrap: wrap;
    }
    .firstOne, .secondOne, .thirdOne{
        margin-top: 50px;
    }
    .inputs, input{
        padding-left: 50px;
        width: 700px;
    }
}